
.showcase {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: #242526;
}

.update-project {
    width: 100%; /* Full width */
    text-align: right; /* Align text to the right */
    margin-bottom: 20px; /* Space below the button */
}
.update-project a {
    background-color: #2980b9; /* Rich blue */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s;
}

.update-project a:hover {
    background-color: #3498db; /* Lighter blue on hover */
}

.projects {
    gap: 20px; /* Space between projects */
    width: 100%; /* Ensure it takes full width of the row */
}

.project {
    display: flex; /* Use flexbox for project layout */
    background-color: #2a2a2a; /* Medium grey */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Ensure rounded corners work */
    position: relative; /* For absolute positioning of the image */
    margin-bottom: 0.8%;
    margin-top: 0.8%;
    background-color: #4f5862;
    border-radius: 2%;
}

.project-pic {
    max-width: 50%; /* Half width for the image */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
}

.project-pic img{
    border-top-right-radius: 10px; /* Top-right corner rounded */
}

.project-content {
    padding: 20px; /* Space around the content */
    width: 50%; /* Half width for the content */
    display: flex; /* Use flexbox for vertical alignment */
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center content vertically */
    align-items: center;
    margin: 10px;
}

.project-content  h1 {
    margin: 0 0 10px 0; /* Margin below the title */
    font-size: 1.5em; /* Larger font for title */
}

.project-content p {
    flex-grow: 1; /* Take up available space */
}

.project-content a {
    color: #3498db; /* Link color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s;
}

.project-content a:hover {
    color: #2980b9; /* Darker blue on hover */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .project {
        width: 100%; /* Full width on smaller screens */
    }
}
